<ion-header-bar class="bar-stable">
<h1 class="title">Splix</h1>
</ion-header-bar>
<ion-content scroll="false" ng-view>
    <div class="canvas-container">
        <canvas id="canvas">
        </canvas>
        <div class="overlay">
            <div class="person"
                 ng-repeat="person in persons"
                 id="person-{{person.id}}"
                 data-drop="true"
                 jqyoui-droppable="{ onOver: 'onOver',
                                     onDrop: 'onDrop',
                                     onOut: 'onOut' }"
                 ng-class="{ selected: person.selected || allSelected }">
                 <div class="name">
                     {{person.name}}
                 </div>
                 <div class="value">
                     {{person.total | number : 2}}
                 </div>
            </div>
            <div id="total"
                 data-drop="true"
                 jqyoui-droppable="{ onOver: 'onOver',
                                     onDrop: 'onDrop',
                                     onOut: 'onOut' }">
                <span class="value">
                    {{total | number : 2}}
                </span>
            </div>
            <div id="input"
                 jqyoui-draggable="{animate: true,
                                    onStop: 'onStop' }"
                 data-drag="true">
                <span class="value">
                    {{currentValue}}
                </span>
            </div>
        </div>
    </div>
    <div class="numpad">
        <div id="add-person"
             class="button ion-person-add"
             ng-click="addPerson()">
        </div>
        <div class="numrow">
            <div class="key">
                <span class="button"
                      ng-click="onKeyPress(7)">7</span>
            </div>
            <div class="key">
                <span class="button"
                      ng-click="onKeyPress(8)">8</span>
            </div>
            <div class="key">
                <span class="button"
                      ng-click="onKeyPress(9)">9</span>
            </div>
        </div>
        <div class="numrow">
            <div class="key">
                <span class="button"
                      ng-click="onKeyPress(4)">4</span>
            </div>
            <div class="key">
                <span class="button"
                      ng-click="onKeyPress(5)">5</span>
            </div>
            <div class="key">
                <span class="button"
                      ng-click="onKeyPress(6)">6</span>
            </div>
        </div>
        <div class="numrow">
            <div class="key">
                <span class="button"
                      ng-click="onKeyPress(1)">1</span>
            </div>
            <div class="key">
                <span class="button"
                      ng-click="onKeyPress(2)">2</span>
            </div>
            <div class="key">
                <span class="button"
                      ng-click="onKeyPress(3)">3</span>
            </div>
        </div>
        <div class="numrow">
            <div class="key">
                <span class="button"
                      ng-click="onKeyPress('comma')">.</span>
            </div>
            <div class="key">
                <span class="button"
                      ng-click="onKeyPress(0)">0</span>
            </div>
            <div class="key">
                <span class="button ion-backspace-outline"
                      ng-click="onKeyPress('del')")></span>
            </div>
        </div>

    </div>
</ion-content>
